.profile {
  text-align: center;
  padding: 20px 0px 0px 0px;
  position: sticky;
  top:4em;
  background: white;
}
.profile-details {
  padding: 20px;
}
.profile-details__name {
  font-weight: bolder;
}
.profile-icon__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile-stats {
  display: flex;
  padding: 15px 30px 15px 30px;
  justify-content: space-between;
  border: 1px solid #F0F0F0;
}
.profile-stats__number {
  font-weight: bolder;
  font-size: 15px;
}
.profile-stats__text {
  color: #bec1c6;
  font-size: 13px;
}
.profile-view {
  padding: 20px 0px;
}
.profile-view__btn {
  color: #479AC2;
  font-weight: bold;
}
