body {
  font-family: 'Nunito', sans-serif;
  background: #F7F8F9
}
nav {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}
.nav-form-search {
  background: #F7F8F9;
  border: 1px solid #F7F8F9;
}
.box {
  background: white;
  border: 1px solid #F0F0F0;
  margin-bottom: 20px;
}
.box-inner {
  padding: 14px 14px 0px 14px;
}
.box-content {
  padding: 10px;
}
.box-content--right {
  margin-right: auto;
  display: block;
  padding-left: 1px;
}
.box-sticky {
  position: sticky;
  top: 4em;
}
/* size of a image*/
.medium-img {
  width: 80%;
}
/* IMAGE POSITION */
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-width--full {
  width: 100%;
}

/*TEXT COLOR*/
.text-blue {
  color: #0058a2;
}

/*FONT SIZE*/
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-18 {
  font-size: 18px;
}

/*BACKGROUND*/
.red-bg {
  color: red;
}
/*FONT WEIGHT*/
.font-bold {
  font-weight: bold;
}

/*TABS*/
.tabs {
  padding-top: 10px;
}
.tabs .nav-link {
  color: #bec1c6;
  padding-bottom: 15px;
  font-size: 15px;
}
.tabs .active {
  color: black;
  border-bottom: 2px solid #1876AD;
}
ul#myTab {
    display: flex;
    flex-wrap: nowrap !important;
}
