/*POST ADD*/
.post {}
  .post-add {
    padding: 30px 15px 30px 15px;
    margin-bottom: 20px;
  }
  .post-add__features {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #F0F0F0;
  }
  .post-add__features-icon {
    font-size: 14px;
  }
  .post-add__text {
    border-radius: 0px;
  }
  .post-add__text-content {
    border: 0px solid transparent;
    color: black;
  }

  /*POST AUTHOR*/
  .post {
    padding: 05px;
    margin-bottom: 10px;
  }
  .post-author {
    display: flex;
    padding: 10px 25px 10px 25px;
  }
  .post-author__datetime {
    margin-left: auto;
    padding: 15px;
  }
  .post-author__datetime-time {
    font-size: 14px;
    color: #bec1c6;
  }
  .post-author__details {
    padding: 10px;
  }
  .post-author__details-name {
    font-weight: bold;
    font-size: 15px;
  }
  .profile-author__details-role {
    font-size: 13px;
    color: #bec1c6;
  }
  .post-content {
    padding: 15px;
    border-top: 1px solid #F0F0F0;
  }
  .post-content__text {
    font-size: 14px;
    color: #bec1c6;
    line-height: 22px;
  }
  .post-social {
    display: flex;
    padding: 10px;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
  }
  .post-social__icon {
    padding-right: 20px;
    color: #bec1c6;
    font-size: 15px;
  }
  .post-social__icon a {
    color: #bec1c6;
  }
  .post-comment {
    padding: 10px;
  }
  .post-comment__card {
    display: flex;
    padding: 10px;
  }
  .post-comment__card {
    border-bottom: 1px solid #F0F0F0;
  }
  .post-add-comment {
    padding: 10px;
  }
  .post-add-comment__text {
    border: 0px solid transparent;
    color: black;
  }
