body {
  font-family: 'Nunito', sans-serif;
  background: #F7F8F9
}
nav {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}
.box-sticky {
  position: sticky;
  top: 4em;
}
.box {
  background: white;
  border: 1px solid #F0F0F0;
  padding-top: 20px;
  margin-top: 10px;
}
.box-content {
  padding: 10px;
}
.nav-form-search {
  background: #F7F8F9;
  width: 450px;
  border: 1px solid #F7F8F9;
}

/* Padding Text */
.small-padding {
  padding: 10px ;
}

/* Alignment of image*/
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-left {
  margin-left: auto;
  display: block;
}
.img-right {
  margin-right: auto;
  display: block;
}
.img-width--full {
  width: 100%;
}

/*Size of image*/
.medium-img {
  width: 80%;
}

/* Alignment of box-content*/
.box-content--right {
  margin-right: auto;
  display: block;
  padding-left: 1px;
}

/* font size */
.small-font {
  font-size: 14px;
}
.medium-font {
  font-size: 16px;
}

/*Tabs*/
.tabs .nav-link {
  color: #bec1c6;
}
.tabs .active {
  color: black;
  border-bottom: 2px solid #0056b3;
}
