/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .profile-click {
    display: none;
  }
  .nav-form-search {
     width: 450px;
  }
  .tabs .nav-link .fa {
    padding-right: 10px;
  }
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .profile-click {
    display: none;
  }
  .tabs .nav-link .fa {
    padding-right: 12px !important;
  }
  .nav-form-search {
     width: 450px;
  }

}

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .profile-click {
    display: none;
  }
  .nav-form-search {
     width: 450px;
  }
  .tabs .nav-link .fa {
    padding-right: 20px;
  }

}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .tabs .nav-link {
      font-size: 14px;
  }
  .tabs .nav-link .fa {
    padding-top: 10px;
  }

}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .tabs .nav-link {
      font-size: 14px;
  }
  .tabs .nav-link .fa {
    padding-top: 10px;
  }

}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .tabs .nav-link {
      font-size: 14px;
  }
  .tabs .nav-link .fa {
    padding-top: 10px;
  }

}
