/* font-family: 'Roboto', sans-serif;
font-family: 'Nunito', sans-serif;
*/

body {
  font-family: 'Nunito', sans-serif;
  background: #F7F8F9
}
/*
Navigation
*/
nav {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}
.navbar-brand {
  color: #007FB2;
}
nav a {
  color: #A9A9A9;
}
.nav-form-search {
  border-radius: 0px;
  border: 1px solid #F7F8F9;
  /* width: 450px !important; */
}
/*
PROFILE
*/
.box {
  background: white;
  /* box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2); */
  border: 1px solid #EEE;
}
.profile {
  text-align: center;
  padding: 20px 0px 0px 0px;
  position: sticky;
  top:0;
  background: white;
}
.profile-details {
  padding: 20px;
}
.profile-details__name {
  font-weight: bolder;
}
.profile-icon__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile-stats {
  display: flex;
  padding: 15px 30px 15px 30px;
  justify-content: space-between;
  border: 1px solid #F0F0F0;
}
.profile-stats__number {
  font-weight: bolder;
  font-size: 15px;
}
.profile-stats__text {
  color: darkgray;
  font-size: 13px;
}
.profile-view {
  padding: 20px 0px;
}
.profile-view__btn {
  color: #479AC2;
  font-weight: bold;
}

/*
LEFT SIDE Panel
*/
.feeds {
  position: sticky;
  top: 0;
}
.feeds-heading {
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid #CACCCE;
}
.feeds-card {
  display: flex;
  padding: 10px 15px 10px 15px;
}
.feeds-icon__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.feeds-card__details {
  text-align: left;
}
.feeds-card__name {
  font-weight: bolder;
  font-size: 15px;
}
.feed-card__role {
  font-size: 13px;
  color: darkgray;
}
/*
MAIN CONTENT
*/
.post {
  padding: 05px;
  margin-bottom: 10px;
}
.post-author {
  display: flex;
  padding: 10px 25px 10px 25px;
  /* justify-content: space-between; */
}
.post-author__datetime {
  margin-left: auto;
  padding: 15px;
}
.post-author__datetime-time {
  font-size: 14px;
  color: darkgray;
}
.post-author__details {
  padding: 10px;
}
.post-author__details-name {
  font-weight: bold;
  font-size: 15px;
}
.profile-author__details-role {
  font-size: 13px;
  color: darkgray;
}
.post-content {
  padding: 15px;
  border-top: 1px solid #F0F0F0;
}
.post-content__text {
  font-size: 14px;
  color: darkgray;
  line-height: 22px;
}
.post-social {
  display: flex;
  padding: 10px;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
.post-social__icon {
  padding-right: 20px;
  color: darkgray;
  font-size: 15px;
}
.post-comment {
  padding: 10px;
}
.post-comment__card {
  display: flex;
  padding: 10px;
}
.post-comment__card {
  border-bottom: 1px solid #F0F0F0;
}
.post-add-comment {
  padding: 10px;
}
.post-add-comment__text {
  color: darkgray;
}
.post-add {
  padding: 30px;
  margin-bottom: 20px;
}
.post-add__features {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #F0F0F0;
}
.post-add__text {
  padding: 30px;
}
.post-add__text-content {
  color: #bec1c6;
}
